html , body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1536px;
    background: #0f0f0f;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: -1;


}


.imgFundo {
    width: 100%;
    background: url(Fundo.png) no-repeat 50% 50%;
    height: 100vh;
    background-size: cover;
    position: absolute;
    z-index: initial;

}

.imgFolha {
    background: url(Folhas.png) no-repeat 50% 50%;
    background-size: contain;
    position: absolute;
    width: 200%;
    height: 200%;
    left: -450px;
    scale: 200%;
    top: 5%;
    z-index: 2;


}

.txtTLOU {
    position: absolute;
    background-size: contain;
    left: 31%;
    top: 28%;
    width: 30%;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 100;
    font-size: 95px;
    color: rgba(255,255,255,1);
    text-shadow: 2px 2px #000000;
    letter-spacing: 2.0px;
    z-index: 0;

}

.txtDESC {
    position: absolute;
    background-size: contain;
    left: 36%;
    top: 40%;
    width: 30%;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: rgba(255,255,255,1);
    text-shadow: 2px 2px #000000;
    letter-spacing: 0.2625em;
    z-index: 0;

}

.Fundo {
    width: 100%;
    height: 100vh;


}

.resto {
    background: #0f0f0f;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    position: absolute;
    z-index: 1000;
    font-family: Montserrat;


}

.texto {
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    left: 7%;
    color: white;
}

.texto2 {
    position: absolute;
    overflow: visible;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    margin-top: 54%;
    right: 37%;
    color: white;
}


.Ellie {
    position: relative;
    background: url(Ellie.png) no-repeat 50% 50%;
    margin-bottom: 50%;
    margin-left: 10%;
    width: 110%;
    height: 110%;
}

.Joel {
    position: absolute;
    background: url(Joel.png) no-repeat 50% 50%;
    background-size: 80%;
    margin-top: 100%;
    margin-left: -30%;
    width: 110%;
    height: 110%;
    z-index: 990;
    }   

.desc {
    position: absolute;
    left: 7%;
    top: 20%;
    overflow: visible;
    width: 561px;
    white-space: nowrap;
    line-height: 43px;
    margin-top: -10px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 23px;
    color: rgba(255,255,255,1);
    }

    .desc2 {
        position: absolute;
        right: 15%;
        top: 125%;
        overflow: visible;
        width: 561px;
        white-space: nowrap;
        line-height: 43px;
        margin-top: -10px;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: lighter;
        font-size: 23px;
        color: rgba(255,255,255,1);
        }

    .bola1 {
        position: absolute;
        box-shadow: 0 0 30px #000;
        margin-left: 43%;
        margin-top: 27%;
        height: 75px;
        width: 75px;
        background-color: #00ff48;
        border-radius: 50%;
        display: inline;
        z-index: 150;
      }

      .bola2 {
        position: absolute;
        box-shadow: 0 0 30px #000;
        margin-left: 38%;
        margin-top: 33%;
        height: 100px;
        width: 100px;
        background-color: #00ff48;
        border-radius: 50%;
        display: inline;
        z-index: 150;
        border-radius: 50%;
        display: inline;
        z-index: 150;
      }

      .quadrado {
        position: absolute;
        box-shadow: 0 0 30px #000;
        right: 45%;
        margin-top: 90%;
        height: 100px;
        width: 100px;
        background-color: #7cff76;
        display: inline;
        z-index: 99999999;
        display: inline;

      }

      .quadrado2 {
        position: absolute;
        box-shadow: 0 0 30px #000;
        right: 50%;
        margin-top: 94%;
        height: 50px;
        width: 50px;
        background-color: #7cff76;
        display: inline;
        z-index: 99999999;
        display: inline;

      }


      .texto3 {
        position: absolute;
        left: 1%;
        top: 189%;
        overflow: visible;
        width: 561px;
        white-space: nowrap;
        line-height: 43px;
        margin-top: -10px;
        text-align: left;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: rgba(255,255,255,1);
        letter-spacing: 0.2225em;
        }